@model ThucLop.Models.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
